In [1]:
# import necessary packages
import pandas as pd
import numpy as np
import datetime

In [2]:
# params - date range
start = '2022-01-24'
days = 35

# Create an array of 5 dates starting at a Monday, one per day
rng = pd.date_range(start, periods=days, freq='D')
df = pd.DataFrame({ 'cal_dt': rng, 'Val' : np.random.randn(len(rng))})
df = df[["cal_dt"]]

# Get week start monday for each date
c = 7
tmp=[]
for i, row in df.iterrows():
    c = c - 1
    if c<0:
        c = 6
    week_dt = row["cal_dt"] + datetime.timedelta(days=(c))
    tmp.append(week_dt)

df["week_dt"] = tmp

# Display
df

       cal_dt    week_dt
0  2022-01-24 2022-01-30
1  2022-01-25 2022-01-30
2  2022-01-26 2022-01-30
3  2022-01-27 2022-01-30
4  2022-01-28 2022-01-30
5  2022-01-29 2022-01-30
6  2022-01-30 2022-01-30
7  2022-01-31 2022-02-06
8  2022-02-01 2022-02-06
9  2022-02-02 2022-02-06
10 2022-02-03 2022-02-06
11 2022-02-04 2022-02-06
12 2022-02-05 2022-02-06
13 2022-02-06 2022-02-06
14 2022-02-07 2022-02-13
15 2022-02-08 2022-02-13
16 2022-02-09 2022-02-13
17 2022-02-10 2022-02-13
18 2022-02-11 2022-02-13
19 2022-02-12 2022-02-13
20 2022-02-13 2022-02-13
21 2022-02-14 2022-02-20
22 2022-02-15 2022-02-20
23 2022-02-16 2022-02-20
24 2022-02-17 2022-02-20
25 2022-02-18 2022-02-20
26 2022-02-19 2022-02-20
27 2022-02-20 2022-02-20
28 2022-02-21 2022-02-27
29 2022-02-22 2022-02-27
30 2022-02-23 2022-02-27
31 2022-02-24 2022-02-27
32 2022-02-25 2022-02-27
33 2022-02-26 2022-02-27
34 2022-02-27 2022-02-27

In [3]:
# params - date range
start = '2022-01-24'
days = 35

# Create an array of 5 dates starting at '2015-02-24', one per day
rng = pd.date_range(start, periods=35, freq='D')
df_dly = pd.DataFrame({ 'cal_dt': rng})
rng = pd.date_range(start, periods=(days/7), freq='W')
df_wk = pd.DataFrame({ 'week_dt': rng})

df = df_dly.merge(df_wk, left_on='cal_dt', right_on='week_dt', how='left')
df

       cal_dt    week_dt
0  2022-01-24        NaT
1  2022-01-25        NaT
2  2022-01-26        NaT
3  2022-01-27        NaT
4  2022-01-28        NaT
5  2022-01-29        NaT
6  2022-01-30 2022-01-30
7  2022-01-31        NaT
8  2022-02-01        NaT
9  2022-02-02        NaT
10 2022-02-03        NaT
11 2022-02-04        NaT
12 2022-02-05        NaT
13 2022-02-06 2022-02-06
14 2022-02-07        NaT
15 2022-02-08        NaT
16 2022-02-09        NaT
17 2022-02-10        NaT
18 2022-02-11        NaT
19 2022-02-12        NaT
20 2022-02-13 2022-02-13
21 2022-02-14        NaT
22 2022-02-15        NaT
23 2022-02-16        NaT
24 2022-02-17        NaT
25 2022-02-18        NaT
26 2022-02-19        NaT
27 2022-02-20 2022-02-20
28 2022-02-21        NaT
29 2022-02-22        NaT
30 2022-02-23        NaT
31 2022-02-24        NaT
32 2022-02-25        NaT
33 2022-02-26        NaT
34 2022-02-27 2022-02-27