In [14]:
import MA
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error, mean_squared_error

###################### CONFIG ####################
st_date = "2015-01-01"
en_date = "2016-12-01"
iter_name = "MA"

###################### CODE #####################
## Get Data
data = pd.read_csv(".\data\monthly_train.csv")
data["Date"] = pd.to_datetime(data.Date).apply(lambda x: x.date())
data = data[(data.Date >= pd.to_datetime(st_date).date()) & (data.Date <= pd.to_datetime(en_date).date())].reset_index(
    drop=True
)
data = data.set_index("Date")

## Movign Average
df = MA.moving_average(data.Demand, extra_periods=6, n=3)

In [15]:
df

              Demand  Forecast
2015-01-01  120.2696       NaN
2015-02-01  116.3788       NaN
2015-03-01  104.4706       NaN
2015-04-01   89.7461    113.71
2015-05-01   91.0930    103.53
2015-06-01  102.6495     95.10
2015-07-01  111.6354     94.50
2015-08-01  110.5925    101.79
2015-09-01  101.9204    108.29
2015-10-01   91.5959    108.05
2015-11-01   93.0628    101.37
2015-12-01  103.2203     95.53
2016-01-01  117.0837     95.96
2016-02-01  106.6688    104.46
2016-03-01   95.3548    108.99
2016-04-01   89.3254    106.37
2016-05-01   90.7369     97.12
2016-06-01  104.0375     91.81
2016-07-01  114.5397     94.70
2016-08-01  115.5159    103.10
2016-09-01  102.7637    111.36
2016-10-01   91.4867    110.94
2016-11-01   92.8900    103.26
2016-12-01  112.7694     95.71
2017-01-01       NaN     99.05
2017-02-01       NaN    101.57
2017-03-01       NaN    104.46
2017-04-01       NaN    101.69
2017-05-01       NaN    102.57
2017-06-01       NaN    102.91